﻿@model IEnumerable<MvcReportApp.Asistencia>

@{
    ViewBag.Title = "AsistenciasReport";
}

<h2>AsistenciasReport</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SesionPlenoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroSesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSeSion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegisladorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreLegislador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicioAsistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Excusa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SesionPlenoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSeSion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegisladorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreLegislador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicioAsistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Excusa)
        </td>
       
    </tr>
}

</table>
<div style="padding:10px; border:1px solid black;">
    <div><a href="@Url.Action("Report",new { Id = "pdf" })">Get Pdf Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Excel" })">Get Excel Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Word" })">Get Word Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Image" })">Get Image Report</a></div>
</div>