﻿@model IEnumerable<MvcReportApp.DuracionDeseSione>

@{
    ViewBag.Title = "DuracionSesiones";
}

<h2>DuracionSesiones</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraCierrre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraCierrre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
      
    </tr>
}

</table>
<div style="padding:10px; border:1px solid black;">
    <div><a href="@Url.Action("Report",new { Id = "pdf" })">Get Pdf Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Excel" })">Get Excel Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Word" })">Get Word Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Image" })">Get Image Report</a></div>
</div>