﻿@model IEnumerable<MvcReportApp.StateArea>

@{
    ViewBag.Title = "StateArea";
}

<h2>StateArea</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
       
    </tr>
}

</table>
<div style="padding:10px; border:1px solid black;">
    <div><a href="@Url.Action("Report",new { Id = "pdf" })">Get Pdf Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Excel" })">Get Excel Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Word" })">Get Word Report</a></div>
    <div><a href="@Url.Action("Report",new { Id = "Image" })">Get Image Report</a></div>
</div>
